.aoi{
  background-color: #69D2E7 !important;
}
.cleanpond{
  background-color: #A7DBD8 !important;
}
.beachstorm{
  background-color: #C44D58 !important;
}
.gaintgoldfish{
  background-color: #F38630 !important;
}
.unrealfood{
  background-color: #FA6900 !important;
}